# Установка главной страницы
DirectoryIndex login.html index.html

# Запрет на просмотр каталогов
Options -Indexes

# Кодировка по умолчанию
AddDefaultCharset UTF-8

# Запрет прямого доступа к скрипту Google Apps Script (устарело)
<FilesMatch "google-apps-script\.js$">
    Require all denied
</FilesMatch>

# Разрешаем загрузку файлов в /uploads и доступ к API
<Files "api.php">
    Require all granted
</Files>

# Сообщение об ошибке 404
ErrorDocument 404 /login.html 